<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huawei.hiardemo.area">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.Access" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 相机权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" /> <!-- 蓝牙模块权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".util.DisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/icon_loc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:roundIcon">
        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".activity.FileSearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.FloorMapActivity"
            android:keepScreenOn="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.PortraitZxingActivity"
            android:screenOrientation="portrait"> <!-- 7.0contentProvider -->

        </activity>
        <activity android:name=".activity.CaptureSelectActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SelectActivity" />

        <provider xmlns:tools="http://schemas.android.com/tools"
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.huawei.hiardemo.area.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.huawei.ar.engine"
            android:value="required" />
    </application>

</manifest>